/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

.page.theme-dark {
    --weight-text: 485;
    --weight-title: 785;
    --bg-color: #000000;
    --accent-color: #00CC14;
    --bg-image: url(../svg/pattern-dark.svg);
    --heart-contour: #FFFFFF;
    --bg-grad: repeating-linear-gradient(#000 0, #000 2px, transparent 2px, transparent 4px)
    ,repeating-linear-gradient(90deg, #000 0, #000 2px, transparent 2px, transparent 4px)
    ,linear-gradient(#007f0c,#004306);
    --button-color: var(--accent-color);
}

.page.theme-light {
    --weight-text: 400;
    --weight-title: 700;
    --bg-color: #FFFFFF;
    --accent-color: #000000;
    --bg-image: url(../svg/pattern-light.svg);
    --heart-contour: #000000;
    --bg-grad: repeating-linear-gradient(#d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px)
    ,repeating-linear-gradient(90deg, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px)
    ,linear-gradient(#e7e7e7 0.01%,#1a1a1a);
    --button-color: var(--bg-color);
}

@media (prefers-color-scheme: dark) {
    :root {
        --weight-text: 485;
        --weight-title: 785;
        --bg-color: #000000;
        --accent-color: #00CC14;
        --bg-image: url(../svg/pattern-dark.svg);
        --heart-contour: #FFFFFF;
        --bg-grad: repeating-linear-gradient(#000 0, #000 2px, transparent 2px, transparent 4px)
        ,repeating-linear-gradient(90deg, #000 0, #000 2px, transparent 2px, transparent 4px)
        ,linear-gradient(#007f0c,#004306);
        --button-color: var(--accent-color);
    }
}